include svgIcon

mixin user(imageSrc, name, profession, bgColor, size)
  -
    var links = [
                "https://www.facebook.com/",
                "https://twitter.com/",
                "https://dribbble.com/"
    ];

  .user(class=size ? "user_" + size : "")
    .user__picture(style="background-image: url(\"images/" + imageSrc + ".jpg\")")
    .user__info(class=bgColor ? "user__info_" + bgColor : "")
      p.user__name(class=bgColor ? "user__name_white" : "")= name
      p.user__profession(
        class=bgColor ? "user__profession_white" : ""
      )= profession
      .user__social-icons
        -for(var i = 1; i <= 3; i++)
          a.user__social-icon(
            href=links[i - 1]
            target="_blank"
            rel="noopener noreferrer"
            class=bgColor ? "user__social-icon_white" : ""
            )
            +svgIcon(i)