include ../toggle/toggle

mixin indexTariffPlan
  .index-tariff-plan__container
    form.index-tariff-plan(
      action="mock-address/change-me",
      method="post"
    )
      h3.index-tariff-plan__title Lite
      ul.index-tariff-plan__list
        li.index-tariff-plan__list-item
          p.index-tariff-plan__text Unlimited applications
          +toggle(false, true)
        li.index-tariff-plan__list-item
          p.index-tariff-plan__text Unlimited categories
          +toggle(false, true)
        li.index-tariff-plan__list-item
          p.index-tariff-plan__text Commission from the order
          +toggle(true, true)
      .index-tariff-plan__button-container
        +button({
          text: "choose",
          bg: "primary",
          type: "submit"
        })
    form.index-tariff-plan(
      action="mock-address/change-me",
      method="post"
    )
      h3.index-tariff-plan__title Premium
      ul.index-tariff-plan__list
        li.index-tariff-plan__list-item
          p.index-tariff-plan__text Unlimited applications
          +toggle(true, true)
        li.index-tariff-plan__list-item
          p.index-tariff-plan__text Unlimited categories
          +toggle(true, true)
        li.index-tariff-plan__list-item
          p.index-tariff-plan__text Commission from the order
          +toggle(false, true)
      .index-tariff-plan__button-container
        +button({
          text: "choose",
          bg: "primary",
          type: "submit"
        })
    form.index-tariff-plan(
      action="mock-address/change-me",
      method="post"
    )
      h3.index-tariff-plan__title Standard
      ul.index-tariff-plan__list
        li.index-tariff-plan__list-item
          p.index-tariff-plan__text Unlimited applications
          +toggle(false, true)
        li.index-tariff-plan__list-item
          p.index-tariff-plan__text Unlimited categories
          +toggle(true, true)
        li.index-tariff-plan__list-item
          p.index-tariff-plan__text Commission from the order
          +toggle(true, true)
      .index-tariff-plan__button-container
        +button({
          text: "choose",
          bg: "primary",
          type: "submit"
        })