mixin search({ placeholderText, errorPlaceholderText, isAutofocus })
  form.search.js-search(action="mock-address/change-me", method="get")
    input.search__input.js-search__input(
        type="search",
        name="search",
        placeholder=placeholderText,
        data-placeholder=placeholderText,
        data-error-placeholder=errorPlaceholderText,
        autofocus=isAutofocus
      )
    input.search__button.js-search__button(type="submit", value="")