mixin button({tag = "button", size, background = "transparent-primary", length, isFluid, isVerticallyStretched, href, type, text})
  -
    const tags = {
      button: "button",
      a: "a"
    }

    const defaultTag = "button";

    const sizeModifiers = {
      xsmall: "xsmall",
      small: "small",
      big: "big"
    }

    const backgroundModifiers = {
      primary: "primary",
      "primary-with-shadow": "primary-with-shadow",
      secondary: "secondary",
      "secondary-with-shadow": "secondary-with-shadow",
      "transparent-primary": "transparent-primary",
      "transparent-secondary": "transparent-secondary",
      "transparent-dark-secondary": "transparent-dark-secondary"
    }

    const lengthModifiers = {
      short: "short"
    }

  #{tags[tag] || defaultTag}.button.js-button(
    class=sizeModifiers[size] ? `button_${sizeModifiers[size]}` : ""
    class=backgroundModifiers[background] ? `button_${backgroundModifiers[background]}` : ""
    class=lengthModifiers[length] ? `button_${lengthModifiers[length]}` : ""
    class=isFluid ? "button_fluid" : ""
    class=isVerticallyStretched ? "button_vertically-stretched" : ""
    href=href ? href : false
    type=type ? type : false
  )!= text