mixin button({ tag = "button", size, background = "transparent-primary", length, isFluid, isVerticallyStretched, href, type, text })
  -
    const tags = {
      button: "button",
      a: "a"
    }

    const sizeModifiers = {
      xsmall: "button_xsmall",
      small: "button_small",
      big: "button_big"
    }

    const backgroundModifiers = {
      primary: "button_primary",
      "primary-with-shadow": "button_primary-with-shadow",
      secondary: "button_secondary",
      "secondary-with-shadow": "button_secondary-with-shadow",
      "transparent-primary": "button_transparent-primary",
      "transparent-secondary": "button_transparent-secondary",
      "transparent-dark-secondary": "button_transparent-dark-secondary"
    }

    const lengthModifiers = {
      short: "button_short"
    }

  #{tags[tag] || "button"}.button.js-button(
    class=sizeModifiers[size] || ""
    class=backgroundModifiers[background] || ""
    class=lengthModifiers[length] || ""
    class=isFluid ? "button_fluid" : ""
    class=isVerticallyStretched ? "button_vertically-stretched" : ""
    href=href ? href : false
    type=type ? type : false
  )!= text