mixin user({ imageSrc, facebookLink, twitterLink, dribbbleLink, name, profession, backgroundColor, size })
  -
    const sizes = {
      big: "user_big"
    };

    const backgrounds = {
      primary: "user__info_primary" ,
      secondary: "user__info_secondary"
    };

    const icons = [
      {
        link: facebookLink || "https://www.facebook.com/",
        image: "facebook-f-brands",
      },
      {
        link: twitterLink || "https://twitter.com/",
        image: "twitter-brands",
      },
      {
        link: dribbbleLink || "https://dribbble.com/",
        image: "dribbble-brands",
      }
    ];

  .user(class=sizes[size] || "")
    .user__picture(style=`background-image: url(${imageSrc})`)
    .user__info(class=backgrounds[backgroundColor] || "")
      p.user__name= name
      p.user__profession= profession
      .user__social-icons
        each icon in icons
          a.user__social-icon(
            href=icon.link
            target="_blank"
            rel="noopener noreferrer"
          )
            svg.user__social-icon-image
              use(xlink:href=`#${icon.image}`)