mixin search({placeholderText, searchBackground, isAutofocus})
  form.search(action="mock-address/change-me", method="get")
    input.search__input(
        type="search",
        name="search",
        placeholder=placeholderText,
        class=searchBackground ? "search__input_" + searchBackground : ""
        autofocus=isAutofocus
      )
    input.search__button(type="submit", value="")