mixin toggle(toggleId, isChecked, isDisabled)
  label.toggle(for=toggleId)
    input.toggle__input(
        type='checkbox', id=toggleId, checked=isChecked, disabled=isDisabled
      )
    span.toggle__switch
      span.toggle__switch--text on
      span.toggle__switch--round
      span.toggle__switch--text off