include ../button/button

mixin news(options)
  -var titleTag = options.titleTag || "h3"
  if(!options.isEvent)
    article.news
      .news__picture(style="background-image: url(\"images/" + options.image + ".jpg\")")
      .news__text-block
        #{titleTag}.news__title= options.title
        span.news__date= options.date
        p.news__description= options.description
  else
    article.news.news_with-event
      .news__picture(style="background-image: url(\"images/" + options.image + ".jpg\")")
      .news__text-block
        span.news__date.news__date_big
          span.news__day= options.date[0] + " "
          span.news__month= options.date[1]
        #{titleTag}.news__title.news__title_small= options.title
        p.news__description= options.description
        .news__button-container
          +button({
            text: "add to calendar",
            size: "xsmall",
            bg: "transparent-dark-secondary"
          })