include ../button/button

mixin news({titleTag = "h3", isEvent, image, title, date, description})
  if(isEvent)
    article.news.news_with-event
      .news__picture(
        style=`background-image: url("images/${image}.jpg")`
        )
      .news__text-block
        span.news__date.news__date_big
          span.news__day= `${date[0]} `
          span.news__month= date[1]
        #{titleTag}.news__title.news__title_small= title
        p.news__description= description
        .news__button-container
          +button({
            text: "add to calendar",
            size: "xsmall",
            background: "transparent-dark-secondary"
          })
  else
    article.news
      .news__picture(
      style=`background-image: url("images/${image}.jpg")`
      )
      .news__text-block
        #{titleTag}.news__title= title
        span.news__date= date
        p.news__description= description