mixin slider({isTip, isScale, progressBackground, currentValue = 0, minValue = 0, maxValue = 100})
  .slider__container
    .slider.js-slider(
        class=progressBackground ? `slider_with-progress slider_${progressBackground}` : ""
        data-value=currentValue
        data-min=minValue
        data-max=maxValue
      )
      .custom-handle.ui-slider-handle
        if isTip
          .slider__tip.js-slider__tip
    if isScale
      ul.slider__scale
        - let step = (maxValue - minValue) / 4
        - for (let i = 0; i <= maxValue; i += step)
          li.slider__scale-item= i


